.form-multisense-impact {
    background-color: #c6d2f7;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}



.form-multisense-impact .form-item {
    display: block;
    margin: 2px 10px;
}

.form-multisense-impact .form-radio {
    margin: 2px 5px 5px 4px;
}

.form-multisense-impact .form-text {
    margin-left: 10px;
}

.form-multisense-impact p {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.hidden {
    display: none;
}

.btn {
    display: inline-block;
    background: #d6d6d6;
    background-image: -webkit-linear-gradient(top, #d6d6d6, #adadad);
    background-image: -moz-linear-gradient(top, #d6d6d6, #adadad);
    background-image: -ms-linear-gradient(top, #d6d6d6, #adadad);
    background-image: -o-linear-gradient(top, #d6d6d6, #adadad);
    background-image: linear-gradient(to bottom, #d6d6d6, #adadad);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background: #ebe6eb;
    background-image: -webkit-linear-gradient(top, #ebe6eb, #d9d9d9);
    background-image: -moz-linear-gradient(top, #ebe6eb, #d9d9d9);
    background-image: -ms-linear-gradient(top, #ebe6eb, #d9d9d9);
    background-image: -o-linear-gradient(top, #ebe6eb, #d9d9d9);
    background-image: linear-gradient(to bottom, #ebe6eb, #d9d9d9);
    text-decoration: none;
}