@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot%3F69hlk1');
  src:  url('../fonts/icomoon.eot%3F69hlk1') format('embedded-opentype'),
    url('../fonts/icomoon.ttf%3F69hlk1') format('truetype'),
    url('../fonts/icomoon.woff%3F69hlk1') format('woff'),
    url('../fonts/icomoon.svg%3F69hlk1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cabinet:before {
  font-size: 22px;
  content: "\e917";
}
.icon-archive:before {
  content: "\e918";
}
.icon-library:before {
  content: "\e919";
}
.icon-ruler:before {
  content: "\e91a";
}
.icon-clipboard-list:before {
  content: "\e900";
}
.icon-clipboard-list2:before {
  content: "\e901";
}
.icon-notebook-text:before {
  content: "\e902";
}
.icon-notebook-text2:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
}
.icon-trash:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-settings:before {
  content: "\e908";
}
.icon-lock:before {
  content: "\e909";
}
.icon-bulb:before {
  content: "\e90a";
}
.icon-pen:before {
  content: "\e90b";
}
.icon-display:before {
  content: "\e90c";
}
.icon-eye:before {
  content: "\e90d";
}
.icon-photo:before {
  content: "\e90e";
}
.icon-note:before {
  content: "\e90f";
}
.icon-params:before {
  content: "\e910";
}
.icon-data:before {
  content: "\e911";
}
.icon-study:before {
  content: "\e912";
}
.icon-lab2:before {
  content: "\e913";
}
.icon-world:before {
  content: "\e914";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-users:before {
  content: "\e972";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-info:before {
  content: "\f059";
}
.icon-question:before {
  content: "\f02c";
}
.icon-users2:before {
  content: "\e915";
}
.icon-users3:before {
  content: "\e916";
}
